{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>疫情可视化</title>
    <!-- 引入 echarts.js -->
    <script src="http://api.map.baidu.com/api?v=2.0&ak=yHYk44ZwEFNHqQv3EDVxx5Fhqu5AKZR9"></script>
    <script src="{% static 'map/lib/echarts.min.js' %}"></script>
    <script src="{% static 'map/lib/bmap.min.js' %}"></script>
    <script src="{% static 'map/lib/jquery-3.5.1.min.js' %}"></script>

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        /* .button {
            display: inline-block;
            width: 96px;
            height: 32px;
            padding: 8px 16px;
            margin: 8px;
            text-align: center;
            line-height: 32px;
            color: #ffffff;
            background: #f44336;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 1px;
        } */
    </style>
</head>

<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 100%;height:900px;">
</div>

{#<form>#}
{#    {% csrf_token %}#}
{#    经度:<br>#}
{#    <input type="text" name="longitude">#}
{#    <br>#}
{#    纬度:<br>#}
{#    <input type="text" name="latitude">#}
{#    <br>#}
{#    <button id="loc-btn">提交</button>#}
{#</form>#}


<script type="text/javascript">
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    // var option;

    var lines = [];
    //访问本地文件获取json数据
    $.ajax({
        type: "get",
        url: "{% static 'map/json/pandemic-tracks.json' %}",
        dataType: 'json',
        beforeSend: function (xmlHttp) {
            xmlHttp.setRequestHeader("If-Modified-Since", "0");
            xmlHttp.setRequestHeader("Cache-Control", "no-cache");
        },
        success: function (data) {
            console.log(data);
            // var obj = JSON.parse(data);
            // console.log(obj);


            lines = lines.concat(data);

            // console.log(lines);
            console.log(lines[0].coords.length)
            myChart.setOption({
                bmap: {
                    center: [103.99909675506, 30.558569710854],
                    zoom: 10,
                    roam: true,
                    mapStyle: {
                        styleJson: [{
                            'featureType': 'water',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#d1d1d1'
                            }
                        }, {
                            'featureType': 'land',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#f3f3f3'
                            }
                        }, {
                            'featureType': 'railway',
                            'elementType': 'all',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'highway',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#fdfdfd'
                            }
                        }, {
                            'featureType': 'highway',
                            'elementType': 'labels',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'arterial',
                            'elementType': 'geometry',
                            'stylers': {
                                'color': '#fefefe'
                            }
                        }, {
                            'featureType': 'arterial',
                            'elementType': 'geometry.fill',
                            'stylers': {
                                'color': '#fefefe'
                            }
                        }, {
                            'featureType': 'green',
                            'elementType': 'all',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'subway',
                            'elementType': 'all',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'manmade',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#d1d1d1'
                            }
                        }, {
                            'featureType': 'local',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#d1d1d1'
                            }
                        }, {
                            'featureType': 'arterial',
                            'elementType': 'labels',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'boundary',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#fefefe'
                            }
                        }, {
                            'featureType': 'building',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#d1d1d1'
                            }
                        }, {
                            'featureType': 'label',
                            'elementType': 'labels.text.fill',
                            'stylers': {
                                'color': '#999999'
                            }
                        }]
                    }

                },
                series: [{
                    type: 'lines',
                    coordinateSystem: 'bmap',
                    polyline: true,
                    data: lines,
                    silent: true,
                    lineStyle: {
                        color: 'red',
                        // color: 'rgb(200, 35, 45)',
                        opacity: 0.8,
                        width: 1
                    },
                    progressiveThreshold: 500,
                    progressive: 200
                }]
            });


            // option && myChart.setOption(option);
            var bmap = myChart.getModel().getComponent('bmap').getBMap();

            var geolocation = new BMap.Geolocation();//定位
            geolocation.getCurrentPosition(function (r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    var mk = new BMap.Marker(r.point, {
                        title: "点击上传当前位置"
                    });

                    mk.addEventListener("click", function (e) {
                        $.ajax({
                            type: 'post',
                            url: "{% url 'epidemic_map:epidemic-map' %}",
                            data: {
                                longitude: r.point.lng,
                                latitude: r.point.lat,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            dataType: "json",
                            success: function (data) {
                                console.log(data.status);
                            }
                        });
                    })

                    bmap.addOverlay(mk);
                    bmap.panTo(r.point);
                    InitMAP(r.point.lng, r.point.lat)
                    // alert('您的位置：' + r.point.lng + ',' + r.point.lat);
                } else {
                    alert('failed' + this.getStatus());
                    InitMAP(116.331398, 39.897445)
                }
            });

            function InitMAP(X, Y) {
                var point = new BMap.Point(X, Y);//var point = new BMap.Point(116.331398,39.897445);
                bmap.centerAndZoom(point, 12);
            }
        }
    })

    {#document.getElementById("loc-btn").onclick = function (e) {#}
    {#    $.ajax({#}
    {#        type: 'post',#}
    {#        url: "{% url 'epidemic_map:epidemic-map' %}",#}
    {#        data: {#}
    {#            longitude: $('input[name="longitude"]').val(),#}
    {#            latitude: $('input[name="latitude"]').val(),#}
    {#            csrfmiddlewaretoken: '{{ csrf_token }}'#}
    {#        },#}
    {#        dataType: "json",#}
    {#        success: function (data) {#}
    {#            console.log(data.status);#}
    {#        }#}
    {#    });#}
    {# } #}
</script>
</body>

</html>