<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
    <div id="a6284bb77060417787974738b5223766" class="chart-container" style="width:1000px; height:500px;"></div>
    <script>
        var chart_a6284bb77060417787974738b5223766 = echarts.init(
            document.getElementById('a6284bb77060417787974738b5223766'), 'white', {renderer: 'canvas'});
        var option_a6284bb77060417787974738b5223766 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u7d2f\u8ba1\u786e\u8bca\u4eba\u6570",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "china",
            "data": [
                {
                    "name": "\u897f\u85cf",
                    "value": "1"
                },
                {
                    "name": "\u6fb3\u95e8",
                    "value": "48"
                },
                {
                    "name": "\u9752\u6d77",
                    "value": "18"
                },
                {
                    "name": "\u53f0\u6e7e",
                    "value": "1023"
                },
                {
                    "name": "\u9999\u6e2f",
                    "value": "11454"
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": "147"
                },
                {
                    "name": "\u5409\u6797",
                    "value": "573"
                },
                {
                    "name": "\u65b0\u7586",
                    "value": "980"
                },
                {
                    "name": "\u5b81\u590f",
                    "value": "75"
                },
                {
                    "name": "\u5185\u8499\u53e4",
                    "value": "374"
                },
                {
                    "name": "\u7518\u8083",
                    "value": "193"
                },
                {
                    "name": "\u5929\u6d25",
                    "value": "373"
                },
                {
                    "name": "\u5c71\u897f",
                    "value": "241"
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": "407"
                },
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": "1610"
                },
                {
                    "name": "\u6d77\u5357",
                    "value": "171"
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": "1317"
                },
                {
                    "name": "\u9655\u897f",
                    "value": "566"
                },
                {
                    "name": "\u4e91\u5357",
                    "value": "235"
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": "267"
                },
                {
                    "name": "\u798f\u5efa",
                    "value": "560"
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": "1879"
                },
                {
                    "name": "\u5317\u4eac",
                    "value": "1049"
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": "708"
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": "945"
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": "869"
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": "937"
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": "591"
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": "994"
                },
                {
                    "name": "\u6e56\u5357",
                    "value": "1042"
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": "1310"
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": "2275"
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": "1323"
                },
                {
                    "name": "\u6e56\u5317",
                    "value": "68152"
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": false,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u7d2f\u8ba1\u786e\u8bca\u4eba\u6570"
            ],
            "selected": {
                "\u7d2f\u8ba1\u786e\u8bca\u4eba\u6570": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u4e2d\u56fd\u75ab\u60c5\u5730\u56fe\u5206\u5e03",
            "subtext": "\u622a\u6b622021.03.29 17:00 \u4e2d\u56fd\u75ab\u60c5\u5206\u5e03\u60c5\u51b5",
            "left": "center",
            "top": "10px",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 200,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0,
        "pieces": [
            {
                "max": 999999,
                "min": 1001,
                "label": ">10000",
                "color": "#8A0808"
            },
            {
                "max": 9999,
                "min": 1000,
                "label": "1000-9999",
                "color": "#B40404"
            },
            {
                "max": 999,
                "min": 100,
                "label": "100-999",
                "color": "#DF0101"
            },
            {
                "max": 99,
                "min": 10,
                "label": "10-99",
                "color": "#F78181"
            },
            {
                "max": 9,
                "min": 1,
                "label": "1-9",
                "color": "#F5A9A9"
            },
            {
                "max": 0,
                "min": 0,
                "label": "0",
                "color": "#FFFFFF"
            }
        ]
    }
};
        chart_a6284bb77060417787974738b5223766.setOption(option_a6284bb77060417787974738b5223766);
    </script>
</body>
</html>
