<!DOCTYPE html>
{% load static %}
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Covid-aid</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
    <!-- layui样式 -->
    <link rel="stylesheet" href="{% static 'Y-Admin/layui/css/layui.css' %}">
    <!-- Y-Admin核心样式 -->
    <link rel="stylesheet" href="{% static 'Y-Admin/css/yadmin.css' %}">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="{% static 'Y-Admin/css/common.css' %}">
    <!-- 图标 -->
    <link rel="stylesheet" href="{% static 'Y-Admin/static/remixicon/fonts/remixicon.css' %}">
    <!-- 首页样式（只为此页面使用） -->
    <link rel="stylesheet" href="{% static 'Y-Admin/css/index.css' %}">
</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <!-- logo 区域 -->
        <div class="layui-logo">
            <!--                <img src="images/security.png" alt="logo" style="margin-left: -5px;" />-->
            <cite>
                Covid-aid
            </cite>
        </div>

        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect>
                <a lay-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right"></i>
                </a>
            </li>
            <!-- 面包屑 -->
            <span class="layui-breadcrumb layui-anim layui-anim-up">
                    <a><cite>首页</cite></a>
            </span>
        </ul>

        <!-- 头像区域 -->
        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item feature-items">
                <a id="screenFull" lay-event="screenFull" title="全屏">
                    <i class="ri-fullscreen-line"></i>
                </a>
                <a id="screenRestore" lay-event="screenRestore" title="退出全屏" style="display: none;">
                    <i class="ri-fullscreen-exit-line"></i>
                </a>
            </li>

            <li class="layui-nav-item user-selection">
                <a>
                    <img src="{% static 'Y-Admin/images/avatar.png' %}" class="layui-nav-img" alt="头像">
                    <cite>{{ nickname }}</cite>
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd lay-unselect>
                        <a lay-event="userInfo">基本资料</a>
                    </dd>
                    <dd lay-unselect>
                        <a lay-event="editPwd">修改密码</a>
                    </dd>
                    <hr>
                    <dd lay-unselect>
                        <a href="{% url 'login:quit' %}">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

    <!-- 左侧导航区域 -->
    <div class="layui-side ">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="lay-nav" lay-accordion="true">
                <li class="layui-nav-item">
                    <a lay-url="{% url 'diagnosis:main_layout' %}" lay-id="home">
                        <i class="ri-home-8-line"></i>&emsp;<cite>首页</cite>
                    </a>
                </li>

                <li class="layui-nav-item">
                    <a lay-id="#" lay-url="#">
                        <i class="ri-shield-keyhole-line"></i>&emsp;<cite>诊断</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a lay-id="pic_upload" lay-url="{% url 'diagnosis:pic_upload' %}">
                                <cite>图片上传</cite>
                            </a>
                        </dd>
                        <dd>
                            <a lay-id="diagnosis-result" lay-url="{% url 'diagnosis:result_list' %}">
                                <cite>诊断结果</cite>
                            </a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a lay-id="epidemic_map" lay-url="{% url 'epidemic_map:epidemic-map' %}">
                        <i class="ri-remixicon-line"></i>&emsp;<cite>疫情可视化</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a lay-id="chat" lay-url="{% url 'chat:chat_index' %}">
                        <i class="ri-customer-service-2-line"></i>&emsp;<cite>医患沟通</cite>
                    </a>
                </li>
            </ul>

        </div>
    </div>


    <!--主体部分-->
    <div class="layui-body">
        <div class="layui-pagetabs">
            <div class="layui-icon admin-tabs-control layui-icon-refresh-3" lay-event="refresh"></div>
            <div class="layui-tab" lay-unauto lay-allowclose="true" lay-filter="lay-tab">
                <ul class="layui-tab-title">
                    <li lay-id="home" lay-url="{% url 'login:index' %}" class="layui-this">
                        <!-- <i class="ri-home-heart-line ri-xl"></i> -->
                        <i class="ri-home-8-line ri-xl"></i>
                    </li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src="{% url 'diagnosis:main_layout' %}" class="layui-iframe"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 移动端遮罩 -->
    <div class="site-mobile-shade"></div>
</div>

<script>
    //JavaScript代码区域
    function getCookie(cookiename) {
        let name = cookiename + "=";
        let cs = document.cookie.split(';');
        for (let i = 0; i < cs.length; i++) {
            let c = cs[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
    }

    var indexSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/index/'
    );
    var username = getCookie('username');
    var online_user_list = new Array();


    indexSocket.onclose = function (e) {
        console.error("Index socket closed unexpectedly.");
    };

</script>

<!-- layui JS -->
<script src="{% static 'Y-Admin/layui/layui.js' %}"></script>
<!-- jQuery JS -->
<script src="{% static 'Y-Admin/js/jquery.js' %}"></script>
<!-- 公共JS -->
<script src="{% static 'Y-Admin/js/common.js' %}"></script>


</body>

</html>
